body {
    padding-top: 150px;
    padding-bottom: 40px;
    background: #EDF2F4;
}

.emph {
    padding:5px;
    color: #2b2d42;
    font-size:22px;
    font-family: "Bree Serif";
    line-height:22px;
}
.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.messages.alert ul {
    margin:0;
}

.messages.alert ul li {
    display: block;
    text-transform: capitalize;
}

/***** Bet Module ******/
#bet-line-wrap {
    position: relative;
}
#add-bet-line {
    position:absolute;
    bottom:14px;
    right:20px;
}
fieldset.bet-line {
    border:1px dashed #94B6C3;
    width:100%;
    padding:9px;
    padding-top:0;
}
fieldset.bet-line .form-group {
    margin-bottom: 0;
}
fieldset.bet-line legend {
    border-bottom:0;
    font-size:15px;
    width:auto;
    color:#64828E;
    margin-bottom:0;
}
fieldset.bet-line input[type=text] {
    width:24%;
    float:left;
    margin-right:1.25%;
    margin-top:9px;
}
fieldset.bet-line input[type=text]:last-child {
    margin-right:0
}
.bet-line .emph {
    margin-top:8px;
    display:inline-block;
}