<h3>{{ title }}</h3>

<div id="bet-entry-form" class="row">
    <bet-entry-form bet="{{ bet }}" matches="{{ matches }}"></bet-entry-form>
</div>

{{ HeadScript().prependFile(basePath() ~ '/js/bet/form.js')|raw }}