<h1><?php echo $this->title; ?></h1>

<?php echo $this->form()->openTag($form);?>

<div class="form-group">
    <?php echo $this->formRow($form->get('page')); ?>
</div>

<?php echo $this->formInput($form->get('submit')); ?>

<?php echo $this->form()->closeTag($form);