<fieldset class="bet-line">
    <div class="row">
        <div class="col-md-1">
            <h6>Line {{index+1}}</h6>
        </div>

        <div class="col-md-4 form-group" id="match-name">
            <input v-model="betLine.match.id" type="hidden" name="lines[{{index}}][match]">

            <div class="with-alt">
                <input name="match_name_{{index}}" v-model="betLine.match.name" type="text" placeholder="Select a match..." class="form-control">

                <alt-option :target="targetEle"
                            :options="matches"
                            title="Select a match..."
                            :on-select="populateMatch"
                            modal_class="alt-option">
                </alt-option>
            </div>
        </div>

        <div class="col-md-7">
            <input v-model="betLine.id" type="hidden" name="lines[{{index}}][id]">
            <input v-model="betLine.win" type="hidden" name="lines[{{index}}][win]">
            <input v-model="betLine.name" type="hidden" name="lines[{{index}}][name]" placeholder="Name">

            <input class="form-control" v-model="betLine.selection" type="text" name="lines[{{index}}][selection]" placeholder="Selection">

            <div>
                <input class="form-control" v-model="betLine.odds" type="text" name="lines[{{index}}][odds]" placeholder="Odds">
                <span class="emph">
                   {{ odds_as_fraction }}
                </span>
            </div>

            <div class="line-result">
                <i v-if="betLine.win == 1" class="text-success fa fa-check-circle-o"><span>GG!</span></i>
                <i v-if="betLine.win == 2" class="text-danger fa fa-times-circle-o"><span>REKT</span></i>
                <i v-if="betLine.win == 0" class="fa fa-circle-o"><span>TBC</span></i>
            </div>
        </div>
    </div>
</fieldset>
